<nav class="navbar navbar-dark bg-dark navbar-expand" role="navigation">
  <div class="container-fluid">
    <a routerLink="/home" class="navbar-brand p-2">S.Catering</a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item mr-2">
          <a routerLink="/menu" class="nav-link">Menu</a>
        </li>
        <li class="nav-item mr-2">
          <a routerLink="/order" class="nav-link">Zamów</a>
        </li>
        <li class="nav-item mr-2">
          <a routerLink="/contact" class="nav-link">Kontakt</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about-us" class="nav-link">O Nas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
