<div class="container-fluid mt-2">
  <div>
    <h2>Potrzebujesz więcej informacji?</h2>
    <br>
    <h2>Zadzwoń..</h2>
    <h3><i>666-666-666</i></h3>
    <br>
    <h2>.. lub wyślij nam wiadomość</h2>
  </div>
  <div>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" method="post">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">Imię</label>
          <input type="text" class="form-control" id="firstName" placeholder="First name" formControlName="firstName">
        </div>
        <div class="form-group col-md-6">
          <label for="Last Name">Nazwisko</label>
          <input type="text" class="form-control" id="Last Name" placeholder="Last name" formControlName="lastName">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Email">Email</label>
          <input type="email" class="form-control" id="Email" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group col-md-6">
          <label for="Phone">Telefon</label>
          <input type="text" class="form-control" id="Phone" placeholder="Phone" formControlName="phone">
        </div>
      </div>
      <div class="form-group">
        <label for="message">Wiadomość</label>
        <textarea class="form-control" id="message" rows="6" placeholder="Your message" formControlName="message"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</div>
